body {
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
}

nav {
  background: #333;
  color: #fff;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;  /* Sidebar is initially hidden */
  transition: all 0.3s;
  overflow: hidden;
}

nav.active {
  left: 0;  /* Show the sidebar when active */
}

nav .title {
  font-size: 24px;
  text-align: center;
  padding: 40px 20px 20px;
  background: #444;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 15px;
  text-align: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: background 0.3s;
}

nav ul li a:hover {
  background: #555;
}

nav ul li.logout {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.content {
  margin-left: 0;
  padding: 20px;
  width: 100%;
  transition: all 0.3s;
}

.content.active {
  margin-left: 250px;  /* Adjust content margin when sidebar is active */
}

.file-table-container {
  margin-top: 20px;
}

.file-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-table th, .file-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.file-table th {
  background: #f4f4f4;
}

.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  color: #000000;
}

.close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #000000;
  display: none;
}

.menu-btn .fa-bars,
.close-btn .fa-times {
  background-color: transparent;
  border: none; 
}

.menu-btn .fa-bars:hover,
.close-btn .fa-times:hover {
  color: #474747;
}

nav.active ~ .menu-btn .fa-bars {
  display: none;
}

nav.active ~ .menu-btn .fa-times {
  display: block;
}

.table-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.table-actions label {
  font-weight: bold;
}

.table-actions select,
.table-actions button,
.table-actions input[type="search"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.table-actions select:focus,
.table-actions button:focus,
.table-actions input[type="search"]:focus {
  border-color: #007bff;
  outline: none;
}

.table-actions button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.table-actions button:hover {
  background-color: #0056b3;
}

.table-actions input[type="search"] {
  flex-grow: 1;
  margin-right: 10px;
}

.table-actions form {
  display: flex;
  gap: 10px;
}
