<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <input type="checkbox" id="btn" hidden>
        <label for="btn" class="menu-btn">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </label>
        <nav id="sidebar">
            <div class="title">Admin Dashboard</div>
            <ul class="list-items">
                <li><a href="{{ url_for('adminindex') }}"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="{{ url_for('user_activity') }}"><i class="fas fa-tasks"></i> View User Activity</a></li>
                <li><a href="#"><i class="fas fa-user-cog"></i> Manage Users</a></li>
                <li><a href="#"><i class="fas fa-file-alt"></i> Manage Files</a></li>
                <li class="logout"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>                       
        </nav>
        <div class="content">
            <h1>Admin Page</h1>
            <div class="user-table-container">
                <table class="user-table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>wpace</td>
                            <td>wpace@example.com</td>
                            <td>Super Admin</td>
                        </tr>
                        <tr>
                            <td>jdoe</td>
                            <td>jdoe@example.com</td>
                            <td>John Doe</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.menu-btn').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('#sidebar').classList.toggle('active');
            document.querySelector('.content').classList.toggle('active');
        });
    </script>
</body>
</html>
