<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
</head>
<body>
    <div class="container">
        <div class="main-content">
            <div class="login-card">
                <div class="header">
                    <h1>Forgot Password?</h1>
                </div>
                <form action="{{ url_for('forgotpassword') }}" method="post">
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" required/>
                    <br><br>
                    <label for="birthdate">Enter Your Birthdate</label>
                    <input id="birthdate" name="birthdate" type="date" class="textbox" required/>
                    <br><br>
                    <input type="submit" class="btn" value="Submit"/>
                </form>

                {% if msg %}
                    <div class="alert">{{ msg }}</div>
                {% endif %}
                
                <br>
                <p class="bottom-text">Remember your password? <a href="{{ url_for('login') }}">Login here</a></p>
            </div>
        </div>
    </div>
</body>
</html>
