<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IB Literature</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='subjectstyle.css') }}">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header-content">
                <h1>IB Language and Literature</h1>
                <p>In the IB Language and Literature page, you will be able to view all the topic files provided by the teacher.</p>
                <div class="search-container">
                    <form action="{{ url_for('subject_search_files', folder='Literature') }}" method="get">
                        <input type="search" name="file_name" placeholder="Search files...">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </header>
        <main>
            <div class="gallery">
                <!-- Semester 1 -->
                <h2>Semester 1</h2>
                <div class="grid-container">
                    {% for file in files_semester1 %}
                    <div class="grid-item">
                        <h3>{{ file.file_name.split('.')[0].replace('_', ' ') }}</h3>
                        <a href="{{ url_for('static', filename='pdfs/Literature/' + file.file_name) }}" download="{{ file.file_name }}">
                            <img width="180px" height="100px" src="{{ url_for('static', filename='images/' + file.file_name.split('.')[0] + '.jpg') }}" alt="{{ file.file_name.split('.')[0] }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>

                <!-- Semester 2 -->
                <h2>Semester 2</h2>
                <div class="grid-container">
                    {% for file in files_semester2 %}
                    <div class="grid-item">
                        <h3>{{ file.file_name.split('.')[0].replace('_', ' ') }}</h3>
                        <a href="{{ url_for('static', filename='pdfs/Literature/' + file.file_name) }}" download="{{ file.file_name }}">
                            <img width="180px" height="100px" src="{{ url_for('static', filename='images/' + file.file_name.split('.')[0] + '.jpg') }}" alt="{{ file.file_name.split('.')[0] }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</body>
</html>
