<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <!-- login box + scrollable notif -->
        <div class="main-content">
            <div class="login-card">
                <div class="header">
                    <h1 class="word">Welcome! Please login.</h1>
                </div>

                <form action="{{ url_for('login') }}" method="post">
                    <select name="role" id="role" class="textbox">
                        <option value="empty">Select...</option>
                        <option value="admin">Admin</option>
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                    </select>
                    <br><br>
                    <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" required/>
                    <br><br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" required/>
                    <br><br>
                    <p class="forgot-password"><a href="{{ url_for('forgotpassword') }}">Forgot Password?</a></p>
                    <input type="submit" class="btn" value="Sign In"/>
                    <br><br>
                </form>
                <p class="bottom-text">Don't have an account? <a href="{{url_for('register')}}"> Sign Up here</a></p>
            </div>

            <!-- scrollable notification -->
            <div class="notifications-container">
                <h2>Latest Notifications</h2>
                <div class="notifications-content">
                    <!-- notifications -->
                    <p>Notification 1: Update in the student page.</p>
                    <p>Notification 2: Addition of submission for students.</p>
                    <p>Notification 3: Addition of semester 2 files.</p>
                </div>
            </div>
        </div>

        <!-- description below login -->
        <div class="description-section">
            <div class="text-block">
                <h2>About Our Digital Library</h2>
                <p>This digital library offers a vast collection of academic resources, enabling students, teachers, and admins to access course materials with ease. Our platform is continuously updated to ensure that the most relevant and up-to-date information is available to you.</p>
            </div>
            <div class="image-block">
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="About Us">
            </div>
        </div>
    </div>
</body>
</html>
