<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IB Math Topics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subject.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1>IB Math Topics</h1>
        <div class="search-container">
            <form action="{{ url_for('search_files') }}" method="get">
                <input type="search" name="query" placeholder="Search files...">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="gallery">
            <div class="grid-container">
                <div class="grid-item">
                    <a href="{{ url_for('static', filename='pdfs/topic1.pdf') }}" download>
                        <img src="{{ url_for('static', filename='images/Topic1.jpg') }}" alt="Topic 1: Number & Algebra">
                        <h3>Topic 1: Number & Algebra</h3>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="{{ url_for('static', filename='pdfs/topic2.pdf') }}" download>
                        <img src="{{ url_for('static', filename='images/Topic2.jpg') }}" alt="Topic 2: Functions">
                        <h3>Topic 2: Functions</h3>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="{{ url_for('static', filename='pdfs/topic3.pdf') }}" download>
                        <img src="{{ url_for('static', filename='images/Topic3.jpg') }}" alt="Topic 3: Geometry & Trigonometry">
                        <h3>Topic 3: Geometry & Trigonometry</h3>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="{{ url_for('static', filename='pdfs/topic4.pdf') }}" download>
                        <img src="{{ url_for('static', filename='images/Topic4.jpg') }}" alt="Topic 4: Statistics & Probability">
                        <h3>Topic 4: Statistics & Probability</h3>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="{{ url_for('static', filename='pdfs/topic5.pdf') }}" download>
                        <img src="{{ url_for('static', filename='images/Topic5.jpg') }}" alt="Topic 5: Calculus">
                        <h3>Topic 5: Calculus</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
