<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginstyle.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body class="register-page">
    <div class="container">
        <div class="login-card">
            <!-- Logo Section -->
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" class="logo">
            </div>

            <div class="header">
                <h1 class="word">Welcome! Please register!</h1>
            </div>

            <h2 class="word">
                <form action="{{ url_for('register') }}" method="post">
                    <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox" required/>
                    <br><br>
                    <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox" required/>
                    <br><br>
                    <input id="email" name="email" type="text" placeholder="Enter Your Email address" class="textbox" required/>
                    <br><br>
                    
                    <!-- New Birthdate Field -->
                    <label for="birthdate">Birthdate:</label>
                    <input id="birthdate" name="birthdate" type="date" class="textbox" required/>
                    <br><br>

                    <select name="role" class="textbox">
                        <option value="Student">Student</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <br><br>
                    <select name="course" class="textbox">
                        <option value="Basic">Basic</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                    <br><br>
                    <input type="submit" class="btn" value="Sign Up"/>
                    <br><br>
                </form>
            </h2>
            <p class="bottom-text">Already have an account? <a class="bottom-text" href="{{url_for('login')}}"> Sign In here</a></p>
        </div>
    </div>
</body>
</html>
