<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IB Science</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/subject.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1>IB Science</h1>
        <div class="search-container">
            <form action="{{ url_for('search_files') }}" method="get">
                <input type="search" name="query" placeholder="Search files...">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="gallery">
            <div class="grid-container">
                <div class="grid-item">
                    <a href="{{ url_for('static', filename='pdfs/Chemistry.pdf') }}" download>
                        <img src="{{ url_for('static', filename='images/Chemistry.jpg') }}" alt="Chemistry">
                        <h3>Chemistry</h3>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="{{ url_for('static', filename='pdfs/Biology.pdf') }}" download>
                        <img src="{{ url_for('static', filename='images/Biology.jpg') }}" alt="Biology">
                        <h3>Biology</h3>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="{{ url_for('static', filename='pdfs/Physics.pdf') }}" download>
                        <img src="{{ url_for('static', filename='images/Physics.jpg') }}" alt="Physics">
                        <h3>Physics</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
