<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Index</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='studentstyle.css') }}">
</head>
<body>
    <div class="header">
        <h1>Welcome, {{ session.username }}!</h1>
    </div>
    <div class="search-container">
        <form id="search-form" action="{{ url_for('search_files') }}" method="get">
            <input type="search" id="search-file" name="file_name" placeholder="Search file" class="textbox">
            <input type="search" id="search-folder" name="folder" placeholder="Search folder" class="textbox">
            <button type="submit" class="btn">Search</button>
        </form>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <a href="{{ url_for('math') }}">
                <img src="{{ url_for('static', filename='images/math.jpg') }}" alt="Math">
                <h3>Math</h3>
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('science') }}">
                <img src="{{ url_for('static', filename='images/science.jpg') }}" alt="Science">
                <h3>Science</h3>
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('econs') }}">
                <img src="{{ url_for('static', filename='images/economics.jpg') }}" alt="Economics">
                <h3>Economics</h3>
            </a>
        </div>
        <div class="grid-item">
            <a href="{{ url_for('lit') }}">
                <img src="{{ url_for('static', filename='images/literature.jpg') }}" alt="Literature">
                <h3>Literature</h3>
            </a>
        </div>
    </div>
    <div class="logout-container lower-logout">
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</body>
</html>
