<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>User Activity</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adminstyle.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <input type="checkbox" id="btn" hidden>
        <label for="btn" class="menu-btn">
            <i class="fas fa-bars"></i>
            <i class="fas fa-times"></i>
        </label>
        <nav id="sidebar">
            <div class="title">Admin Dashboard</div>
            <ul class="list-items">
                <li><a href="{{ url_for('adminindex') }}"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="{{ url_for('user_activity') }}"><i class="fas fa-tasks"></i> View User Activity</a></li>
                <li><a href="{{ url_for('manageusers') }}"><i class="fas fa-user-cog"></i> Manage Users</a></li>
                <li><a href="{{ url_for('managefiles') }}"><i class="fas fa-file-alt"></i> Manage Files</a></li>
                <li class="logout"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1>User Activity</h1>
            <div class="file-table-container">
                <div class="table-actions">
                    <input type="search" id="search-user" name="search" placeholder="Search users">
                </div>
                <table class="file-table">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Modified</th>
                            <th>Last Seen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activities %}
                        <tr>
                            <td>{{ activity.Username }}</td>
                            <td>{{ activity.modified }}</td>
                            <td>{{ activity.last_seen }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.menu-btn').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('#sidebar').classList.toggle('active');
            document.querySelector('.content').classList.toggle('active');
        });
    </script>
</body>
</html>
